* {
  margin: 0;
  padding: 0;
  color: #464646;
  font-family: "Raleway";
}

.tudo .menu {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 6rem;
  background-color: #F5F5F5;
}
.tudo .menu .menu__header {
  display: flex;
  width: 40%;
}
.tudo .menu .menu__header h3 {
  padding-left: 15px;
}
.tudo .menu nav {
  width: 60%;
}
.tudo .menu nav ul {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
}
.tudo .menu nav ul li {
  padding: 10px;
  list-style: none;
}
.tudo .menu nav ul li a {
  text-decoration: none;
}
.tudo .menu nav ul li .destaque {
  font-weight: bold;
}

.title {
  width: 100%;
  background-color: #F5F5F5;
}
.title .title__div {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 3rem;
}
.title .title__div .title__profile {
  width: 300px;
  height: 300px;
}
.title .title__div .title__container {
  width: 70%;
  padding: 20px 0px;
}
.title .title__div .title__container h2 {
  font-size: 3vw;
  padding: 30px 0;
}
.title .title__div .title__container h3 {
  font-size: 22px;
}
.title .title__div .title__container ul {
  display: flex;
  list-style: none;
  margin-top: 2rem;
}
.title .title__div .title__container ul li {
  padding: 20px;
}
.title .title__div .title__container ul li a {
  text-decoration: none;
}

.about {
  background-color: #EAF2FD;
}
.about .about__container {
  padding: 3rem 6rem;
}
.about .about__container .about__title {
  font-size: 32px;
  margin-bottom: 2rem;
}
.about .about__container .about__paragraph {
  width: 70%;
  padding-bottom: 2rem;
}

.skills, .hobbies {
  background-color: #F5F5F5;
}
.skills .skills__title, .skills .hobbies__title, .hobbies .skills__title, .hobbies .hobbies__title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding-top: 3rem;
}
.skills .skills__line, .skills .hobbies__line, .hobbies .skills__line, .hobbies .hobbies__line {
  padding: 1rem 6rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.skills .skills__line .skills__box, .skills .skills__line .hobbies__box, .skills .hobbies__line .skills__box, .skills .hobbies__line .hobbies__box, .hobbies .skills__line .skills__box, .hobbies .skills__line .hobbies__box, .hobbies .hobbies__line .skills__box, .hobbies .hobbies__line .hobbies__box {
  width: 175px;
  height: 175px;
  margin-bottom: 10px;
  background-color: #ffffff;
}
.skills .skills__line .skills__box ul, .skills .skills__line .hobbies__box ul, .skills .hobbies__line .skills__box ul, .skills .hobbies__line .hobbies__box ul, .hobbies .skills__line .skills__box ul, .hobbies .skills__line .hobbies__box ul, .hobbies .hobbies__line .skills__box ul, .hobbies .hobbies__line .hobbies__box ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: end;
}
.skills .skills__line .skills__box ul .skills__img, .skills .skills__line .skills__box ul .hobbies__img, .skills .skills__line .hobbies__box ul .skills__img, .skills .skills__line .hobbies__box ul .hobbies__img, .skills .hobbies__line .skills__box ul .skills__img, .skills .hobbies__line .skills__box ul .hobbies__img, .skills .hobbies__line .hobbies__box ul .skills__img, .skills .hobbies__line .hobbies__box ul .hobbies__img, .hobbies .skills__line .skills__box ul .skills__img, .hobbies .skills__line .skills__box ul .hobbies__img, .hobbies .skills__line .hobbies__box ul .skills__img, .hobbies .skills__line .hobbies__box ul .hobbies__img, .hobbies .hobbies__line .skills__box ul .skills__img, .hobbies .hobbies__line .skills__box ul .hobbies__img, .hobbies .hobbies__line .hobbies__box ul .skills__img, .hobbies .hobbies__line .hobbies__box ul .hobbies__img {
  padding-left: 1rem;
}
.skills .skills__line .skills__box ul .skills__name, .skills .skills__line .skills__box ul .hobbies__name, .skills .skills__line .hobbies__box ul .skills__name, .skills .skills__line .hobbies__box ul .hobbies__name, .skills .hobbies__line .skills__box ul .skills__name, .skills .hobbies__line .skills__box ul .hobbies__name, .skills .hobbies__line .hobbies__box ul .skills__name, .skills .hobbies__line .hobbies__box ul .hobbies__name, .hobbies .skills__line .skills__box ul .skills__name, .hobbies .skills__line .skills__box ul .hobbies__name, .hobbies .skills__line .hobbies__box ul .skills__name, .hobbies .skills__line .hobbies__box ul .hobbies__name, .hobbies .hobbies__line .skills__box ul .skills__name, .hobbies .hobbies__line .skills__box ul .hobbies__name, .hobbies .hobbies__line .hobbies__box ul .skills__name, .hobbies .hobbies__line .hobbies__box ul .hobbies__name {
  padding: 1rem;
}

.academic {
  background-color: #EAF2FD;
}
.academic .academic__title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding-top: 3rem;
}
.academic .academic__courses {
  padding: 3rem;
  display: flex;
  justify-content: space-evenly;
}
.academic .academic__courses .academic__courses__list .academic__courses__item__img {
  width: 25vw;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  list-style: none;
}
.academic .academic__courses .academic__courses__list .academic__courses__item__img img {
  width: 15vw;
  padding: 5px;
}
.academic .academic__courses .academic__courses__list .academic__courses__item__title {
  list-style: none;
}
.academic .academic__courses .academic__courses__list .academic__courses__item__subtitle {
  list-style: none;
  margin-bottom: 10px;
}

.experience {
  background-color: #F5F5F5;
}
.experience .experience__section__title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding-top: 3rem;
}
.experience .experiencie__box {
  padding: 3rem;
  display: flex;
  align-items: center;
}
.experience .experiencie__box .experience__img {
  width: 60vw;
  padding-right: 3rem;
}
.experience .experiencie__box .experience__info {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.experience .experiencie__box .experience__info .experience__title, .experience .experiencie__box .experience__info .experience__text {
  margin-bottom: 10px;
}
.experience .experiencie__box .experience__info .experience__repo {
  padding: 20px 20px 20px 0px;
}
.experience .experiencie__box .experience__info .experience__repo button {
  padding: 20px 30px;
  color: #2A7AE4;
  border: 1px solid #2A7AE4;
  margin-top: 10px;
}
.experience .experiencie__box .experience__info .experience__demo button {
  padding: 20px 30px;
  background-color: #2A7AE4;
  color: #F5F5F5;
  border: 1px solid #2A7AE4;
  margin-top: 10px;
}
.experience .box {
  flex-direction: row-reverse;
}

.formcontato {
  background-color: #EAF2FD;
}
.formcontato .formcontato__contacto {
  padding: 3rem;
  display: flex;
  height: 100%;
}
.formcontato .formcontato__contacto .formcontato--esquerda {
  width: 50vw;
  padding-right: 2rem;
}
.formcontato .formcontato__contacto .formcontato--esquerda .formcontato__img {
  width: 100%;
}
.formcontato .formcontato__contacto .formcontato__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 600px;
}
.formcontato .formcontato__contacto .formcontato__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.formcontato .formcontato__contacto .formcontato__form .formcontato__input {
  margin-bottom: 30px;
  padding: 15px 5px;
  border: none;
  outline: none;
  border-radius: 4px;
  caret-color: #2A7AE4;
}
.formcontato .formcontato__contacto .formcontato__form .formcontato__input:hover::placeholder {
  color: #2A7AE4;
}
.formcontato .formcontato__contacto .formcontato__form .formcontato__input:hover {
  border-bottom: 4px solid #2A7AE4;
}
.formcontato .formcontato__contacto .formcontato__form .formcontato__textarea {
  margin-bottom: 30px;
  padding-bottom: 50px;
  outline: none;
  caret-color: #2A7AE4;
}
.formcontato .formcontato__contacto .formcontato__form button {
  width: 200px;
  padding: 20px;
  background-color: #2A7AE4;
  color: #F5F5F5;
  border: 1px solid #2A7AE4;
}

.footer {
  width: 100%;
  height: 120px;
}
.footer .footer__rodape {
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer .footer__rodape p {
  text-align: center;
}

@media (max-width: 768px) {
  .tudo .menu {
    padding: 1rem 1rem;
  }
  .tudo .menu .menu__header {
    width: 50%;
  }
  .tudo .menu .menu__header h3 {
    font-size: 16px;
  }
  .tudo .menu nav ul li {
    display: none;
  }
  .tudo .menu nav ul li:last-child {
    display: flex;
  }
}
@media (max-width: 768px) {
  .title .title__div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1rem;
  }
  .title .title__div .title__container h2 {
    font-size: 22px;
    padding: 10px 0;
  }
  .title .title__div .title__container h3 {
    font-size: 16px;
    font-weight: 400;
  }
  .title .title__div .title__container ul {
    display: flex;
    list-style: none;
    margin-top: 0.5rem;
    flex-wrap: wrap;
  }
  .title .title__div .title__container ul li a {
    text-decoration: none;
    font-weight: 700;
  }
  .title .title__div .title__profile {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 768px) {
  .about {
    background-color: #EAF2FD;
  }
  .about .about__container {
    padding: 1rem 3rem;
  }
  .about .about__container .about__title {
    font-size: 22px;
    margin-bottom: 2rem;
  }
  .about .about__container .about__paragraph {
    width: 100%;
    padding-bottom: 2rem;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .skills .skills__title, .hobbies .skills__title {
    font-size: 22px;
  }
  .skills .hobbies__title, .hobbies .hobbies__title {
    font-size: 22px;
    padding-top: 0rem;
  }
  .skills .skills__line, .skills .hobbies__line, .hobbies .skills__line, .hobbies .hobbies__line {
    padding: 3rem 1rem;
    flex-wrap: wrap;
  }
  .skills .skills__line .skills__box, .skills .skills__line .hobbies__box, .skills .hobbies__line .skills__box, .skills .hobbies__line .hobbies__box, .hobbies .skills__line .skills__box, .hobbies .skills__line .hobbies__box, .hobbies .hobbies__line .skills__box, .hobbies .hobbies__line .hobbies__box {
    width: 30%;
    height: 115px;
    margin-bottom: 2rem;
  }
}
@media (max-width: 768px) {
  .academic .academic__title {
    font-size: 22px;
    padding-top: 2rem;
  }
  .academic .academic__courses {
    padding: 3rem 0rem;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
  .academic .academic__courses .academic__courses__list .academic__courses__item__img {
    width: 30vw;
    height: 110px;
  }
  .academic .academic__courses .academic__courses__list .academic__courses__item__img img {
    width: 100px;
    padding: 5px;
  }
  .academic .academic__courses .academic__courses__list .academic__courses__item__title {
    list-style: none;
    font-size: 14px;
    padding: 10px 0px;
  }
}
@media (max-width: 768px) {
  .experience .experience__section__title {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding-top: 1rem;
  }
  .experience .experiencie__box {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
  .experience .experiencie__box .experience__img {
    width: 95%;
    align-items: center;
    padding-right: 0px;
  }
  .experience .experiencie__box .experience__info {
    width: 95%;
  }
  .experience .experiencie__box .experience__info .experience__title {
    font-size: 16px;
    margin-top: 10px;
  }
  .experience .experiencie__box .experience__info .experience__text {
    font-size: 16px;
    font-weight: 400;
  }
  .experience .experiencie__box .experience__info .experience__repo {
    padding: 20px 20px 20px 0px;
  }
  .experience .experiencie__box .experience__info .experience__repo button {
    padding: 10px 15px;
    color: #2A7AE4;
    border: 1px solid #2A7AE4;
  }
  .experience .experiencie__box .experience__info .experience__demo button {
    padding: 10px 15px;
    background-color: #2A7AE4;
    color: #F5F5F5;
    border: 1px solid #2A7AE4;
  }
  .experience .box {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .formcontato .formcontato__contacto {
    padding: 3rem 3rem;
    flex-direction: column;
  }
  .formcontato .formcontato__contacto .formcontato--esquerda {
    padding-right: 2rem;
    display: none;
  }
  .formcontato .formcontato__contacto .formcontato__text {
    display: flex;
    flex-direction: column;
  }
  .formcontato .formcontato__contacto .formcontato__form {
    display: flex;
    flex-direction: column;
  }
  .formcontato .formcontato__contacto .formcontato__form .formcontato__input:hover::placeholder {
    color: #2A7AE4;
    margin-left: 5px;
  }
  .formcontato .formcontato__contacto .formcontato__form .formcontato__input:hover {
    border-bottom: 4px solid #2A7AE4;
  }
  .formcontato .formcontato__contacto .formcontato__form .formcontato__textarea {
    margin-bottom: 30px;
    padding-bottom: 50px;
    border: none;
  }
  .formcontato .formcontato__contacto .formcontato__form .formcontato__textarea::placeholder {
    padding-left: 10px;
  }
  .formcontato .formcontato__contacto .formcontato__form .formcontato__textarea:hover::placeholder {
    color: #2A7AE4;
  }
  .formcontato .formcontato__contacto .formcontato__form .formcontato__textarea:hover {
    border: none;
    border-bottom: 4px solid #2A7AE4;
  }
  .formcontato .formcontato__contacto .formcontato__form button {
    width: 200px;
    padding: 20px;
    background-color: #2A7AE4;
    color: #F5F5F5;
    border: 1px solid #2A7AE4;
  }
}
@media (max-width: 480px) {
  .title .title__div {
    flex-direction: column;
    padding: 0rem 1rem;
  }
  .title .title__div .title__container {
    width: 100%;
  }
  .title .title__div .title__container h2 {
    padding: 10px 0;
  }
  .title .title__div .title__container h3 {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .about .about__container {
    padding: 3rem 1rem;
  }
  .about .about__container .about__paragraph {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .skills .skills__line .skills__box, .skills .skills__line .hobbies__box, .skills .hobbies__line .skills__box, .skills .hobbies__line .hobbies__box, .hobbies .skills__line .skills__box, .hobbies .skills__line .hobbies__box, .hobbies .hobbies__line .skills__box, .hobbies .hobbies__line .hobbies__box {
    width: 40%;
    height: 120px;
  }
}
@media (max-width: 480px) {
  .academic .academic__courses {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .academic .academic__courses .academic__courses__list .academic__courses__item__img {
    width: 80vw;
    height: 120px;
  }
  .academic .academic__courses .academic__courses__list .academic__courses__item__img img {
    width: 100px;
    padding: 5px;
  }
  .academic .academic__courses .academic__courses__list .academic__courses__item__title {
    list-style: none;
    padding: 10px 0px;
  }
}
@media (max-width: 480px) {
  .tudo .menu {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }
  .tudo .menu .menu__header {
    width: 100%;
  }
}