@media (max-width: 480px){
    .academic{
    
        .academic__courses{
            flex-direction: column;
            width: 100%;
            align-items: center;
    
            .academic__courses__list{
        
                           
                .academic__courses__item__img{
                    width:80vw;
                    height: 120px;
                    
                    
                    img{
                        width: 100px;
                        padding: 5px;
                    }
                }
    
                .academic__courses__item__title{
                    list-style: none;
                    padding: 10px 0px;
                    
                }


    
            }
        }
    }
}