.formcontato{
    background-color: #EAF2FD;

    .formcontato__contacto{
        padding: 3rem;
        display: flex;
        height: 100%;

        .formcontato--esquerda{
            width: 50vw;
            padding-right: 2rem;

            .formcontato__img{
               width:100%; 
            }
        }

        .formcontato__text{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 600px;
        }

        .formcontato__form{
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .formcontato__input{
                margin-bottom: 30px;
                padding: 15px 5px;
                border:none;
                outline: none;
                border-radius: 4px;
                caret-color: #2A7AE4;

                &:hover::placeholder{
                    color:#2A7AE4;
                }

                &:hover{
                    border-bottom: 4px solid #2A7AE4;
                }
            }

            .formcontato__textarea{
                margin-bottom: 30px; 
                padding-bottom: 50px;
                outline: none; 
                caret-color: #2A7AE4;
            }

            button{
                width: 200px;
                padding: 20px;
                background-color: #2A7AE4;
                color: #F5F5F5;
                border: 1px solid #2A7AE4;
            }
        }
    }
}