@media (max-width:768px){
    .experience{
        .experience__section__title{
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        padding-top: 1rem;
        }

    .experiencie__box{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;

       
        .experience__img{
            width: 95%;
            align-items: center;
            padding-right: 0px;
        }

        .experience__info{
            
            width: 95%;

            
            .experience__title{
                font-size: 16px;
                margin-top: 10px;
            }

            .experience__text{
                font-size: 16px;
                font-weight: 400;
            }

            .experience__repo{
                padding: 20px 20px 20px 0px;

                button{
                    padding: 10px 15px;
                    color: #2A7AE4;
                    border: 1px solid #2A7AE4;
                }
                
            }

            .experience__demo{

                button{
                    padding: 10px 15px;
                    background-color: #2A7AE4;
                    color: #F5F5F5;
                    border: 1px solid #2A7AE4;
                }
            }


        }

    }

    .box{
        flex-direction:column;
    }
}
}